layout {

    focus-ring {
        active-color   "#b1c6f6"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b1c6f6"
        inactive-color "#121316"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b1c6f6"
        inactive-color "#394e77"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b1c6f680"
    }
}

recent-windows {
    highlight {
        active-color "#b1c6f6"
        urgent-color "#ffb4ab"
    }
}
